/*=================== couleur================================= */
body, .container, .restaurant, footer, .container1, .menud {
  display: flex;
  flex-direction: column; }

.menu__h2, .menu__ensemble__textprix {
  display: flex;
  justify-content: space-between; }

/*=========================mise en page index.html=======================*/
body {
  min-width: 300px;
  padding: 0;
  margin: 0; }

header {
  display: flex;
  width: auto;
  margin: auto; }

.container {
  margin-top: 0;
  background-color: white; }

h1 {
  font-family: 'Shrikhand','cursive';
  width: auto;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  font-size: 30px; }

.restaurant h2 {
  font-family: 'shrikhand', cursive;
  text-align: center;
  font-size: 17px; }

h3 {
  font-family: roboto;
  font-size: 14px;
  text-align: center; }

.choix h2, .menu h2 {
  margin-left: 4%; }

.choix__button {
  display: flex;
  border-radius: 20px;
  width: 84%;
  background-color: #F5F5F5;
  font-weight: bold;
  border-color: #F5F5F5;
  margin: auto;
  height: 40px;
  padding-top: 6%;
  padding-left: 10%; }

.choix__button:hover {
  background-color: #F5F5F5; }

.choix i {
  display: inline; }

#restaurant__btn {
  list-style: none;
  text-align: center;
  width: 60%;
  font-size: 8px;
  padding: 0 10% 10% 20%;
  padding: 0 10% 10% 20%; }
  #restaurant__btn li {
    background-color: #9356DC;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #B39DDB;
    border: solid 1px #B39DDB; }

#badge1:after {
  content: "1";
  position: absolute;
  background: #9356DC;
  height: 1.2rem;
  margin-top: 5%;
  width: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #9356DC; }

#badge2:after {
  content: "2";
  position: absolute;
  background: #9356DC;
  height: 1.2rem;
  margin-top: 5%;
  width: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #9356DC; }

#badge3:after {
  content: "3";
  position: absolute;
  background: #9356DC;
  height: 1.2rem;
  margin-top: 5%;
  width: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
  border: 1px solid #9356DC; }

#restaurant__btn li {
  background-color: #9356DC;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #B39DDB;
  border: solid 1px #B39DDB; }

#restaurant__btn li li {
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
  border-radius: 0;
  background: #B39DDB;
  box-shadow: none;
  border: none; }

#restaurant__btn a {
  display: block;
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 4%;
  font-family: roboto;
  font-weight: bold;
  font-size: 1.5em; }

#restaurant__btn ul li a, #restaurant__btn li:hover li a {
  font-size: 1em; }

#restaurant__btn li:hover {
  background: #B39DDB; }

#restaurant__btn li li:hover {
  background: #999; }

#restaurant__btn ul li:last-child {
  border-radius: 0 0 25px 25px;
  border: none; }

#restaurant__btn li:hover li {
  max-height: 15em; }

/*==========groupe============*/
.restaurant, .choix {
  width: 100%;
  margin-top: 10%; }

.restaurant {
  background-color: #F5F5F5;
  margin-top: auto; }

.menu {
  width: 100%;
  text-align: start;
  margin-top: 10%;
  background-color: #F5F5F5; }

.menu__menu1 {
  background-color: white;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px; }

.plat {
  height: auto;
  width: 100%;
  border-radius: 15px 15px 0px 0px; }

.plat1 {
  border-radius: 15px;
  padding-left: 3%;
  display: flex;
  margin-bottom: 5%; }

.plat1__coeur {
  margin-left: auto;
  margin-right: 7%;
  font-size: 28px; }

.plat1__paragraphe a {
  padding-bottom: 5px;
  text-decoration: none; }

.restaurant__position {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #E0E0E0;
  border-top: 2px solid #BDBDBD; }

.identite {
  text-align: justify;
  width: 94%;
  margin-top: 14px;
  margin-left: 2%;
  margin-right: 2%; }

/*===============footer============*/
footer {
  background-color: #424242;
  color: white;
  padding-left: 2%;
  text-decoration: none; }
  footer footer h4 {
    font-size: 18px;
    margin-top: 16px; }

footer a {
  text-decoration: none;
  color: white; }

/*=========icones=========*/
.fas.fa-store {
  color: #9356DC; }

.choix i {
  color: gray; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 60px; }

  #restaurant__btn {
    width: 30%;
    margin-left: auto;
    margin-right: 25%;
    padding-bottom: 5%; }

  .choix {
    margin: auto; }

  #badge1:after, #badge2:after, #badge3:after {
    margin-left: 2%;
    margin-top: 1rem; }

  .menu h2 {
    margin-left: 10%; }

  .choix__button {
    padding-top: 3%; }

  .menu__menu1 {
    width: 80%;
    margin: auto; } }
@media screen and (min-width: 900px) {
  h1 {
    font-size: 90px; }

  #badge1:after, #badge2:after, #badge3:after {
    margin-left: 7%;
    margin-top: 1.3rem; }

  .container {
    width: 80%;
    margin-left: 10%; }

  .choix {
    margin: auto; }

  .restaurant h2 {
    font-size: 22px; }

  #restaurant__btn a {
    font-size: 1.3rem; }

  .choix {
    margin: auto; }

  .choix h2 {
    margin-left: 10%; }

  .choix__button {
    width: 70%;
    font-size: 20px; }

  footer {
    width: 80%;
    margin-left: 10%; } }
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 90px; } }
/*============================feuille de style des pages menus===================================*/
/*======================partie header==================*/
.header_titre {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.header__retour {
  margin: auto;
  margin-left: 2%;
  font-size: 30px;
  color: black; }

.header__titre1 {
  margin: auto;
  text-align: center;
  font-family: 'Shrikhand','cursive';
  font-style: italic;
  font-weight: bold;
  width: 100%;
  font-size: 30px; }

/*=====================partie centrale de la page========================*/
span {
  border-bottom: 2px solid #99E2D0; }

.menu__h2 {
  height: 50px;
  font-size: 28px;
  font-style: italic; }

.menu__h2__coeur {
  margin-right: 20%; }

.menu__ensemble__intitule {
  font-weight: normal;
  margin-left: 4%;
  font-size: 18px; }

.container1 {
  position: absolute;
  top: 20%;
  width: 100%; }

.photo_photo1 {
  width: 100%;
  height: auto; }

.menu {
  background-color: #F5F5F5;
  width: 100%;
  border-radius: 20px 20px 0 0;
  text-align: start;
  padding-bottom: 4%; }

.menu__ensemble_entree {
  display: flex;
  flex-direction: column;
  width: auto;
  width: auto;
  transition: 5s;
  animation: slidedown 5s; }
@keyframes slidedown {
  from {
    transform: translateY(200px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.menu__ensemble_plat {
  display: flex;
  flex-direction: column;
  width: auto;
  width: auto;
  transition: 11s;
  animation: slidedown 11s; }
@keyframes slidedown {
  from {
    transform: translateY(200px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.menu__ensemble_dessert {
  display: flex;
  flex-direction: column;
  width: auto;
  width: auto;
  transition: 16s;
  animation: slidedown 16s; }
@keyframes slidedown {
  from {
    transform: translateY(200px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
.btn {
  border-radius: 15px;
  margin: 3%;
  text-align: start;
  background-color: white;
  border: white;
  height: 60px; }

.menu__ensemble__menu--nom {
  font-weight: bold;
  font-size: 15px;
  line-height: 0; }

.groupe {
  text-align: start;
  line-height: 1px;
  padding-left: 2%; }

.menu__ensemble__textprix {
  margin-right: 20%; }

.prix {
  font-weight: bold; }

.ajout {
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  margin: 4% 30% 4% 30%;
  padding: 2% 0 2% 0;
  background-color: #9356DC;
  border: #9356DC;
  color: white; }

/*=========partie footer================*/
footer {
  background-color: #424242;
  color: white;
  width: 98%; }

footer h4 {
  font-size: 18px;
  margin-top: 16px; }

.footer__p {
  padding-left: 4%; }

footer a {
  text-decoration: none;
  color: white; }

/*=================media queries 600px==================*/
@media screen and (min-width: 600px) {
  .header_titre {
    margin: auto; }

  .header__titre1 {
    font-size: 40px; }

  .container1 {
    position: absolute;
    top: 40%; }

  .menu h2 {
    margin-left: 9%; }

  .menu__h2__coeur {
    margin-right: 28%; }

  .menu__ensemble_entree .menu__ensemble__intitule {
    margin: auto;
    margin-left: 4%; }

  .menu__ensemble_entree, .menu__ensemble_plat, .menu__ensemble_dessert {
    margin: 0 5% 0 5%; }

  .groupe {
    margin: 0 2% 0 2%; }

  .footer__p {
    margin-left: 2%; } }
/*=================media queries 900px==================*/
@media screen and (min-width: 900px) {
  .header__titre {
    font-size: 70px; }

  .header__retour {
    margin-left: 10%; }

  .photo_photo1 {
    width: 80%;
    height: auto;
    margin-left: 10%; }

  .container1 {
    width: 80%;
    margin-left: 10%;
    top: 20%; }

  .menu h2 {
    margin-left: 9%;
    font-size: 45px;
    margin: 0 0 10% 13%; }

  .menu__h2__coeur {
    margin-right: 26%; }

  .btn {
    height: 80px; }

  h2.menu__ensemble__intitule {
    font-size: 24px;
    margin: 4% 0 0 4%; }

  .menu__ensemble_entree {
    margin-left: 15%; }

  .menu__ensemble_dessert, .menu__ensemble_plat, .menu__ensemble_entree {
    margin: 0 10% 0 10%; }

  .menu__ensemble__menu--nom {
    font-size: 21px; }

  .groupe {
    margin: 0 3% 0 3%;
    font-size: 18px; }

  .ajout {
    height: 40px;
    padding: 1 0 2% 0;
    font-size: 30px; }

  .footer__p {
    margin-left: 6%; }

  footer {
    width: 98%;
    margin: auto; } }
@media screen and (min-width: 1200px) {
  .container1 {
    top: 55%; } }
/*=====================menu 3 css==================*/
.container3 {
  position: absolute;
  top: 20%;
  width: 100%; }

@media screen and (min-width: 600px) {
  .container3 {
    top: 30%; } }
@media screen and (min-width: 900px) {
  .container3 {
    width: 80%;
    margin-left: 10%; }

  .menu__h2__coeur {
    margin-right: 32%; } }
/*=================menu4 css=============*/
.container4 {
  position: absolute;
  top: 30%;
  width: 100%; }

@media screen and (min-width: 600px) {
  .container4 {
    top: 40%; } }
@media screen and (min-width: 900px) {
  .container4 {
    position: absolute;
    top: 30%;
    width: 80%;
    margin-left: 10%; } }

/*# sourceMappingURL=style.css.map */
