@import "utils/variables";
@import "utils/mixins";

%flexbox {
  display: flex;
  flex-direction: column;
}
%space-between {
  display: flex;
  justify-content: space-between;
}
/*=========================mise en page index.html=======================*/
body {
  min-width: 300px;
  @extend %flexbox;
  padding: 0; 
  margin: 0;
}
/*==============loader spinner=========================*/
.ensembles {
  position: relative;
  overflow: hidden;
  z-index: 1;
  animation: loading 5s;
  width: 100%;
}
 
@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.load{
  position: absolute;

  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name:load; 
  animation-delay: 2s;  
}
@keyframes load{
  0% {
    opacity: 1;
  }
  100%{ 
    opacity: 0;
  }
}
.loader { 
  position: fixed;
  top:50%;
  margin-left: 25%;
	@include load_spinner;
	width: $size*15;
	height: $size*11.5;
	display: flex;
	justify-content: space-evenly;
	transition-property:all;
  transition-delay: 5s; 
  
	&__bar {
		background-color: $cd-bars;
		height: 100%;
		width: $size;
		background-color: $cd-bars;
		animation: bars $anim-dur backwards infinite ease-in-out alternate;
		animation-direction: alternate;
    @for $i from 1 through $num-bars {
      &--#{$i} {
				animation-delay: $anim-delay * $i;
			}        
    }  
	}
}

@keyframes bars {
	0%{
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1.0);
	}
}
.loader__bar--1 {
    animation-delay: 200ms;
}
.loader__bar--2 {
    animation-delay: 400ms;
}
.loader__bar--3 {
    animation-delay: 600ms;
}
.loader__bar--4 {
    animation-delay: 800ms;
}
.loader__bar--5 {
    animation-delay: 1000ms;
}
/*=================fin loader spinner=================*/
header {
  display: flex;
  width: auto;
  margin: 0;
  text-align: center;
  justify-content: center; 
  height: 66px;
} 
.container {
  @extend %flexbox;
  margin-top: 0;
  background-color: white; 
}
.restaurant h2 {
  font-family: 'shrikhand', cursive;
  text-align: center;
  font-size: 17px; 
}
h3 {
  font-family:roboto;
  font-size:14px;
  text-align:center;
}
.choice h2, .menu h2 {
  margin-left:4%;
}
.choice__button {
  display: flex;
  border-radius:20px;
  width: 84%;
  background-color:$bouttonselection;
  font-weight: bold;
  border-color: $bouttonselection;
  margin: auto;
  height: 40px;
  padding-top: 6%;
  padding-left: 10%; 
}
.choice__button:hover {
  background-color: $bouttonselection; 
}
.choice i {
  display: inline; 
}
#restaurant__btn 
{
  list-style: none;
  text-align: center;
  width: 60%;
  font-size: 8px;
  padding:0 10% 10% 20%;   
  & li {
    background-color:$primarycolor;
    border-radius: 25px;
    box-shadow: 3px 3px 3px $couleurhover;
    border: solid 1px $couleurhover; 
  }
} 
#badge1:after{
  content:"1";
  @include number_badge;
}
#badge2:after{
  content:"2";
  @include number_badge;
}
#badge3:after{
  content:"3";
  @include number_badge;
}
#restaurant__btn li {
  background: linear-gradient(to top left, #AB47BC,#E1BEE7);
  border-radius: 25px;
  box-shadow: 3px 3px 3px $couleurhover;
  border: solid 1px $couleurhover; 
}

#restaurant__btn li li { 
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
  border-radius: 0;
  background:$couleurhover;
  box-shadow: none;
  border: none;
}
#restaurant__btn a {
  display: block;
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 4%;
  font-family: roboto;
  font-weight: bold;
  font-size: 1.5em; 
  
}
#restaurant__btn ul li a, #restaurant__btn li:hover li a {
  font-size: 1em; 
}
#restaurant__btn li:hover {
  background: linear-gradient(to top left, #b452c5,#e7c1ee);
  box-shadow: 4px 4px 4px $couleurhover; 
}
#restaurant__btn li li:hover {
  background: linear-gradient(to top left, #b452c5,#e7c1ee); 
}
#restaurant__btn ul li:last-child {
  border-radius: 0 0 25px 25px;
  border: none; 
}
#restaurant__btn li:hover li {
  max-height: 15em; 
}
 
/*==========group============*/
.restaurant, .choice {
  width: 100%;
  margin-top: 10%; 
}
.restaurant {
  @extend %flexbox;
  background-color:$bouttonselection;
  margin-top: auto; 
}

.menu {
  width: 100%;
  text-align: start;
  margin-top: 10%;
  background-color: $bouttonselection; 
}
.menu__menu1 {
  background-color: white;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px; 
  margin-bottom: 4%;
}

.dish {
  height: auto;
  width: 100%; 
  max-height: 200px;
  border-radius: 15px 15px 0px 0px; 
}
.dish1 {
  display: flex;
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 5%; 
}
.dish1__paragraph a {
  padding-bottom: 5px;
  text-decoration: none; 
}
.dish1__paragraph--text {
  font-size: 14px;
}
.dish1__paragraph--title {
  font-weight: bold;
}
.news{
  @include new;
}
.dish1__heart {
  position: absolute;
  padding-top: 3px;
  right: 16px;
  font-size:28px; 
}

.dish1__heart2{
  position:absolute;
  font-size: 30px;
  right:15px;
  opacity:0;
  color:white;
}  
.dish1__heart2:hover{
  cursor:pointer;
  color:#9356DC;
  animation-name: heart;
  animation-duration:10s; 
}
@keyframes heart {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.restaurant__position {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  background-color: #E0E0E0;
  border-top: 2px solid #BDBDBD; 
}
.identity {
  text-align: justify;
  width: 94%;
  margin-top: 14px;
  margin-left: 2%;
  margin-right:2%;
}
/*===============footer============*/
footer {
  background-color: #424242;
  color: white;
  @extend %flexbox;
  padding-left: 2%;
  text-decoration:none; 
  &  footer h4 {
        font-size: 18px;
        margin-top: 16px; 
    }
}
footer a {
  text-decoration: none;
  color:white 
}
/*=========icones=========*/
.fas.fa-store {
  color: $primarycolor; 
}
.choice i {
  color: gray;
} 

/*=====media queries min-width:600px page index=======*/
@media screen and (min-width: 600px)
{
  .loader {
    left: 15%;
  }
  .logo_h1 {
    height: auto;
  }
  .news {
    right:12%;
  }
  .dish {
   max-height: 200px;
  }
  .dish1__heart, .dish1__heart2 {
    position: absolute;
    right: 20%;
  }
  #restaurant__btn  {
    width:30%;
    margin-left:auto;
    margin-right:25%;
    padding-bottom:5%;
  }
  .choice {
    margin:auto;
  }
   #badge1:after, #badge2:after, #badge3:after{
    @include number_badge_600px;
  }
  .menu h2 {
    margin-left: 10%;
  }   
  .choice__button {
    padding-top: 3%;
  }
  .menu__menu1 {
    width: 80%;
    margin: auto;
    margin-bottom: 4%;
  }
}

 /*=====media queries min-width:900px page index=======*/
@media screen and (min-width: 900px)
{
  .logo {
    height: auto;
  }
  .loader {
    left: 15%;
  }
  .news {
    right:19%;
  }
  .dish {
    max-height: 400px;
  }
  .dish1__heart, .dish1__heart2 {
    position: absolute;
    right: 20%;
  }
  #badge1:after,#badge2:after, #badge3:after {
    @include number_badge_900px;
  }
  .container {
      @include marge-container;
  }
  .choice {
      margin:auto;
    }
  .restaurant h2{
      font-size:22px
  }
  #restaurant__btn a {
      font-size:1.3rem
  }
  .choice h2{
      margin-left:10%;
  }
  .choice__button{
      width:70%;
      font-size:20px; 
  }
  .menu h2 {
    margin-left: 21%;
  }
  .menu__menu1 {
    width: 60%;
  }
  .news{
    right: 28%;
  }
  .dish1__heart, .dish1__heart2 {
    right: 29%;
  }
  footer {
      @include marge-container
    }
} 

/*=====media queries min-width:1200px page index=======*/
@media screen and (min-width:1200px)
 {
  .logo {
    height: auto;
  }
  .dish {
    max-height: 500px;
  }
  .news {
     right:28%;
  }
}
 
 /*============================feuille de style des pages menus===================================*/

body, .container, .restaurant, footer, .container1 , .menud, footer {
    @extend %flexbox; 
}

  /*======================partie header==================*/
.header_title {
display: flex;
justify-content: space-around; 
height: 66px;
}
   
.header__retour {
  margin-top:auto;
  margin-bottom: auto;
  font-size: 30px;
  color: black; 
}
img.logo {
  margin: auto;
}
  /*=====================partie centrale de la page========================*/
span {
    border-bottom: 2px solid $tertiarycolor; 
}
.container1  { 
  position: absolute;
  top:31%;
  width: 100%;
}  
.menu1__h {
  @include text-menu;
}

.menu1__h .menu1__h__h2 {
  width: 100%;
}
.menu1__h__heart, .menu1__h__heart1 {
  position: absolute;
  right: 20%;
}
.menu1__h__heart1{
  opacity:0;
  color:white;
}

.menu1__h__heart1:hover{
  cursor:pointer;
  color:#9356DC;
  animation-name: heart;
  animation-duration:10s;
}
@keyframes heart {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.menu__set__entitled {
    font-weight: normal;
    margin-left: 4%;
    font-size: 15px; 
}  
.photo_photo1 {
    width: 100%;
    height:auto;  
}
   
.menu {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    width: 100%;
    border-radius: 20px 20px 0 0;
    text-align: start;
    padding-bottom:4% 
}
  
.menu__set_entree {
    @include flexcolumn(colonne);
    transition: 5s;
        animation: slidedown 5s; 
    @include slidedown(slide);
}
.menu__set_dish {
    @include flexcolumn(colonne);
    transition: 11s;
        animation: slidedown 11s; 
    @include slidedown(slide);
}
.menu__set_dessert {
    @include flexcolumn(colonne);
    transition: 16s;
        animation: slidedown 16s; 
    @include slidedown(slide);
}
.btn {
  display: flex;
  margin: 2%;
  overflow:hidden;
  cursor: pointer;
  border-radius: 15px;
  height: 63px;
  
}
.group__btn {
	flex-grow: 1;
	width: 10em;
	background:white;
}	
.title_text {
  text-align: start;
}   
.group__btn--text, .title_text {
  margin-left: 4%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.group__btn--text, .price {
  margin-top: -9px;
}
.title_text { 
  font-weight: bold;
  margin-top: 10px;
}
.text {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  width: 0;
  transition: all 1s;
  background-color: cyan;
  transform: translate(0) rotate(360deg);
}  
.check { 
	margin: auto; 
	border-radius: 50%;
  color: white;
  font-size: 30px;
  align-items: center; 
  transition: transform 1s;  
  transform: rotate(180deg);
}
  
   
.btn {
    width: 95%;   
    &:hover > .box {    
	  width: 5em;
	  .check {
      transform: rotate(0deg); 
    }
  }  
}  
 
.menu__set__textprice  {
  @extend %space-between;
  margin-right: 20%; 
}
.price {
  font-weight: bold; 
  margin-right: 19%;
} 
.ajout {
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  margin: 4% 30% 4% 30%;
  padding: 2% 0 2% 0;
  background: linear-gradient(to top left, #AB47BC,#E1BEE7);
  border: #9356DC;
  color: white; 
  box-shadow: 3px 3px 3px $couleurhover;
}
.ajout:hover {
  background: linear-gradient(to top left, #b452c5,#e7c1ee);
  box-shadow: 4px 4px 4px $couleurhover;
}
  
  /*=========partie footer================*/
footer  {
    background-color: #424242;
    color: white;
    width: 98%; 
    
}
  
footer h4  {
    font-size: 18px;
    margin-top: 16px; 
}
  
.footer__p {
    padding-left: 4%; 
}
  
footer a {
    text-decoration: none;
    color: white; 
}
/*=========media queries 500px================*/
@media screen and (min-width:500px)
{
  .container1 {
    top:40%;
  }
}
/*==========media queries 600px==================*/
@media screen and (min-width:600px)
{
  .menu1__h, .menu1__h__h2 {
    margin-left: 5%;
    height: 73px;
  }
  .headerheader_title {
    margin-right: 34%;
  }
  .header__title1 {
    font-size:40px;
  }
  
  .container1 {
    position: absolute;
    top: 50%; 
  }
  .menu1__h__heart, .menu1__h__heart1  {
    right: 24%;
  }
  .menu__set_entree .menu__set__entitled, .menu__set_dish .menu__set__entitled, .menu__set_dessert .menu__set__entitled{
    @include section_menu;
  }
  .menu__set_entree, .menu__set_dish, .menu__set_dessert {
    margin: 0 5% 0 5%; 
  }  
  .group {
    margin: 0 2% 0 2%; 
  }
  .footer__p {
    margin-left: 2%;
  }  
}

/*=================media queries 900px==================*/
@media screen and (min-width: 900px) 
{
  .header__title {
    font-size: 70px;
  }
  .header__retour {
    margin-left: 10%;
  }
  .npmimg.logo {
    padding-left: 54%;
  }
  .photo_photo1 {
    width:80%;
    height:auto;
    margin-left:10%;
  }
  .container1 {
    width:80%;
    margin-left:10%;
    top:60%;
  } 
  .menu__h, .menu1__h__h2 {
    font-size: 35px;
    margin-left: 11%;
  }
  .menu1__h__heart, .menu1__h__heart1 {
    margin-right: 4%;
  }
  
  h2.menu__set__entitled {
    font-size: 24px;
    margin:4% 0 0 4%;
  }
  .dish1__heart, .dish1__heart2 {
    right: 34%;
  }
  .news {
    right: 33%;
  }
  .menu__set_entree {
    margin-left: 15%; 
  }
  
  .menu__set_dessert, .menu__set_dish, .menu__set_entree {
    margin: 0 10% 0 10%;
  }
  
  .menu__set__menu--nom {
    font-size: 21px; 
  } 

  .ajout {
    height: 40px;
    padding: 1% 0 2% 0;
    font-size: 30px; 
  }
  .footer__p {
    margin-left: 6%; 
  }
  footer {
    width: 98%;
    margin: auto; 
  } 
}
@media screen and (min-width:1200px)
{
  .container1{
    top:60%
  } 

} 

/*=======media queries 1366px========*/
@media screen and (min-width:1366px) {
  .menu1__h__heart, .menu1__h__heart1 
  {
    padding-left: 25%; 
  }
}
/*=========media queries 1500px================*/
@media screen and (min-width:1500px)
{
  .container1 {
    top:50%;
  }
}
/*=========media queries 2000px================*/
@media screen and (min-width:2000px)
{
  .container1 {
    top:80%;
  }
}