@mixin load_spinner {
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-name: load;
}
@mixin border-radius($coin) {
  border-radius: $coin; 
}
@mixin margin-left($distance) {
  margin-left: $distance;
}
@mixin margin-right($distance) {
  margin-right: $distance; 
}
@mixin margin-top($distance) {
  margin-top: $distance;
}
@mixin marge-container {
  width: 80%;
  margin-left: 10%; 
}
@mixin flexcolumn($colonne){
  display: flex;
  flex-direction: column;
  width: auto; 
}
@mixin flexcolumn($colonne){
  display: flex;
  flex-direction: column;
  width: auto; 
}
@mixin marge_text_bordure ($reglage) {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin: 3%;
  text-align: start; 
  background-color: white;
  border: white;
  height: 60px; 
}
@mixin slidedown ($slide){
  @keyframes slidedown {
    from {
      transform: translateY(200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }   
}
@mixin marge  {
  width:80%;
  margin-left:10%;
}
@mixin number_badge {
  position: absolute;
  background: #9356DC;
  height:1.2rem;
  margin-top:5%;
  width:1.2rem;
  text-align: center;
  line-height: 1.2rem;;
  font-size: 1rem;
  border-radius: 50%;
  color:white;
  border:1px solid #9356DC;
}
@mixin number_badge_600px {
  margin-left:2%;
  margin-top:1rem;
}
@mixin number_badge_900px {
  margin-left: 7%;
  margin-top: 1.3rem; 
}
@mixin new {
  position: absolute;
  padding:5px 22px;
  right:6%;
  font-weight:bold;
  color: #009688;
  font-family:"roboto";
  background-color:#99E2D0;
  border: 2px solid #99E2D0; 
  border-radius:3px;
} 
@mixin section_menu {
  margin-left: 4%;
}

@mixin text-menu {
  display:flex;
  font-weight: bold;
  margin-left: 3%;
  margin-right: 20%;
  height: 50px;
  font-size: 23px;
  font-style: italic; 
} 