/*=================== couleur================================= */
$primarycolor:#9a5ee4;
$secondarycolor:#FF79DA;
$tertiarycolor:#99E2D0;
$couleurhover:#B39DDB;
$bouttonselection:#F5F5F5;
$fondblanc: white;
$cd-bars: #15DEA5;
$size: 3vh;
$num-bars: 5;
$anim-dur: 1s;
$anim-delay: $anim-dur / 5;
$font-family_p: "Roboto", serif;
$font-family_title: "roboto-bold",serif;
$font-family_logo: "shrikhand";